@CHARSET "UTF-8";
#head-body a {
	color: #FFF;
}
body {
	overflow-x: hidden;
	background: #EFEFEF;
}
div#frame {
	margin: 2px auto 2px auto;
	width: 740px;
	float: center;
}
div#head-top {
	background: #636;
	font-size: small;
	color: #FFF;
	padding: 3px 3px 0px 3px;
}
div#head-body {
	background: #93C;
	padding: 5px 3px 0px 3px;
	color: #FFF;
}

#field {
	margin-top: 2px;
	background: #FFF;
	height:	340px;
}
div .header {
	padding: 1px 0 1px 2px;
	border-left: 8px solid #93C;
	font-weight: bold;
	background: #A9C;
	color: #FFF;
	font-size: small;
}
#player {
	background: #FFF;
}
#control {
	width: 340px;
}
#comment {
	float: right;
	width: 400px;
}
#commentHeader {
	font-weight: bold;
	border-left: 8px solid #93C;
}
#comment .body {
	height: 314px;
}
#username {
	font-weight: bold;
	margin: 0 0 5px;
	padding: 1px 0 1px 2px;
	border-left: 8px solid #93C;
	background: #A9C;
	color: #FFF;
	font-size: small;
}
#player .input {
	margin-left:10px;
	padding: 8px 0px 0px 0px;
}
#player .enter {
	float: right;
	padding: 8px 10px 0px 2px;
}
#input {
	border-top: 1px solid #A9C;
	border-left: 1px solid #A9C;
	border-right: 1px solid #93C;
	border-bottom: 1px solid #93C;
}
#commentList {
	width: 100%;
	height: 100%;
	background: #EEE;
	border-top: 1px solid #A9C;
	border-left: 1px solid #A9C;
	border-right: 1px solid #93C;
	border-bottom: 1px solid #93C;
}
.unselect {
	color: #CCC;
	cursor: pointer;
}
